*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#calculator-container {
  margin: 150px auto;
  width: 305px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
}

#screen-container {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
}

#screen {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px;
  font-size: 3rem;
}

#key-container {
  display: flex;
}

#numkey-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px
}

#funckey-container {
  display: flex;
  flex-direction: column;
  gap: 5px
}

#top-row-container {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.key {
  width: 70px;
  height: 70px;
}
